[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

[Mm]emoryCaptures/
[Aa]sset[Bb]undles/
ServerData/

# IDE
.vs/
.vscode/
.idea/
.gradle/
.consulo/
.vsconfig

# C#
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Meta
*.pidb.meta
*.pdb.meta
*.mdb.meta

# OS
.DS_Store
Thumbs.db

# Burst
ProjectSettings/*BurstAotSettings*.json
ProjectSettings/CommonBurstAotSettings.json

# Misc
sysinfo.txt